.button {
  font-family: $font-opensans;
  background-color: $color-white;
  padding: 16px;
  color: $color-black-444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: inset 0 0 0 2px $color-black-444;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    background-color: $color-black-444;
    color: $color-white;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}
