.catalog__list {
  padding: 30px 0 30px 0;
  list-style-type: none;
  display: grid;
  row-gap: 30px;
  max-width: 500px;
  margin: 0 auto;

  @include tablet {
    row-gap: 54px;
    padding-top: 61px;
    padding-bottom: 60px;
    max-width: 100%;
  }

  @include desktop {
    row-gap: 51px;
    column-gap: 51px;
    padding-top: 111px;
    padding-bottom: 57px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  display: grid;

  @include tablet {
    grid-template-columns: repeat(2, 50%);
    width: 100%;
  }

  @include desktop {
    grid-template-columns: unset;
    grid-template-rows: max-content;
  }
}

.catalog__item:hover {
  & .catalog__product-description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:active {
  & .catalog__product-description {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__link-image:hover {
  opacity: 0.7;
}

.catalog__link-image:active {
  opacity: 0.4;
}

.catalog__product-image {
  display: flex;
  width: 100%;
  height: 100%;

  @include tablet {
    min-width: 334px;
  }

  @include desktop {
    min-width: 316px;
  }
}

.catalog__product-description {
  position: relative;
  padding: 27px 28px 0 28px;
  border: 1px solid $color-gray-lines;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 27px 33px 0 34px;
  }

  @include desktop {
    padding: 27px 33px 0 27px;
    gap: 11px;
  }
}

.catalog__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;

  @include tablet {
    gap: 7px;
    margin-bottom: auto;
  }

  @include desktop {
    gap: 6px;
  }
}

.catalog__link-title {
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black-000;
  text-decoration: none;

  @include tablet {
    font-size: 20px;
    max-width: 240px;
  }
}

.catalog__link-title:hover {
  opacity: 0.6;
}

.catalog__link-title:active {
  opacity: 0.3;
}

.catalog__product-specification {
  font-family: $font-opensans;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $color-black-444;

  @include tablet {
    font-size: 15px;
  }
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-top: 1px solid $color-gray-lines;
}

.catalog__product-price {
  padding: 22px 0 25px 0;
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $color-black-000;

  @include tablet {
    padding: 24px 0 25px 0;
    font-size: 17px;
  }
}

.catalog__buy-button {
  padding: 22px 20px 26px 20px;
  color: $color-black-000;
  opacity: 0.2;
  transform: translateX(22px);

  &:hover {
    color: $color-green-basic;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
