.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: transparent;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include desktop {
    padding-top: 52px;
    padding-bottom: 29px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 5;
    align-items: start;
    padding-right: 3%;
  }

  &--not-index {
    border-bottom: 1px solid #ebebeb;

    @include tablet {
      border-bottom: none;
    }
  }

  &--no-js {
    &.container {
      padding-right: 0;
      padding-left: 0;
    }

    & .header-main__logo-wrapper {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.header-main__logo-wrapper {
  padding-right: 60px;

  @include tablet {
    padding: 0;
  }
}

.header-main__logo {
  position: relative;
  text-decoration: none;
  color: #111111;
  padding: 23px 0 24px 90px;
  display: flex;
  align-items: center;

  @include tablet {
    padding: 19px 0 24px 72px;
  }

  @include desktop {
    padding: 23px 0 18px 84px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-main__logo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 34px;
  height: 38px;
  background-image: url("../img/svg/logo-mobile.svg");
  background-repeat: no-repeat;

  @include tablet {
    width: 60px;
    height: 50px;
    top: 0;
    background-image: url("../img/svg/logo-tablet.svg");
  }

  @include desktop {
    width: 70px;
    height: 60px;
    background-image: url("../img/svg/logo-desktop.svg");
  }
}

.header-main__logo-image {
  &--not-mobile {
    padding-left: 6px;
  }

  @include tablet {
    &--not-mobile {
      color: #444444;
      padding-left: 5px;
      width: 67px;
    }
  }

  @include desktop {
    width: 38px;
    height: 22px;

    &--not-mobile {
      width: 78px;
      padding-left: 8px;
    }
  }
}
