.main-nav {
  display: flex;
  background-color: transparent;

  @include tablet {
    padding-top: 9px;
  }

  @include desktop {
    padding-top: 7px;
    justify-self: end;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $color-white;
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: flex-start;
  }

  @include desktop {
    background-color: transparent;
    max-width: 100%;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0px #ececec, inset 0px 1px 0px #ececec;

  @include tablet {
    box-shadow: none;
    margin-left: 34px;
    max-width: 170px;

    &:last-child {
      margin-left: 37px;
    }
  }

  @include desktop {
    &:last-child {
      margin-left: 33px;
    }
  }
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 24px 0;
  color: $color-black-000;
  font-family: $font-opensans;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    padding: 9px 0 10px 0;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 9px 0;
  }

  & .main-nav__icon-img {
    opacity: 0.2;
  }
}

.main-nav__link {
  .main-nav__list--site-nav & {
    &:hover {
      & .main-nav__icon-img {
        color: $color-green-basic;
        opacity: 1;
      }
      & .main-nav__link-text {
        opacity: 0.6;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__list--main-nav & {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__link:hover {
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/close-menu.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  display: flex;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__toggle.main-nav__toggle--close {
  right: 31px;
  top: 32px;
  width: 20px;
  height: 14px;
  background-image: url("../img/svg/open-menu.svg");
}

.main-nav__toggle--no-js {
  display: none;
}
