.main-nav {
  display: flex;
  background-color: transparent;

  @include tablet {
    padding-top: 9px;
  }

  @include desktop {
    padding-top: 7px;
    justify-self: end;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: flex-start;
  }

  @include desktop {
    background-color: transparent;
    max-width: 100%;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px #e6e6e6;

  @include tablet {
    box-shadow: none;
    margin-left: 34px;
    max-width: 170px;

    &:last-child {
      margin-left: 37px;
    }
  }

  @include desktop {
    &:last-child {
      margin-left: 33px;
    }
  }

  &:last-of-type {
    box-shadow: inset 0 1px #e6e6e6, inset 0 -1px #e6e6e6;

    @include tablet {
      box-shadow: none;
    }
  }
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 24px 0;
  color: inherit;
  font-family: $font-opensans;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    pointer-events: none;

    @include tablet {
      box-shadow: inset 0 -2px $color-green;
    }
  }

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    padding: 9px 0 10px 0;
    font-weight: 400;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 9px 0;
  }
}

.main-nav__link.main-nav__link--index-desktop {
  @include desktop {
    color: #ffffff;
  }

  &.main-nav__link--current {
    @include desktop {
      box-shadow: inset 0 -2px #ffffff;
    }
  }
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 24px;
  background-image: url("../img/svg/close-menu.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  padding: 0;
  display: flex;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__toggle.main-nav__toggle--close {
  right: 19px;
  top: 21px;
  width: 24px;
  background-image: url("../img/svg/open-menu.svg");
}

.main-nav__toggle--no-js {
  display: none;
}
