.main-nav {
  display: flex;
  background-color: transparent;

  @include tablet {
    width: 100%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $color-white;
  width: 100%;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;

    &--site-nav {
      grid-column: 2/3;
      grid-row: 1/2;
      grid-template-columns: 84px 1fr;
      padding-right: 50px;
      position: relative;
    }
  }

  @include desktop {
    background-color: transparent;
    max-width: 100%;

    &--site-nav {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}

.main-nav__list--main-nav {
  @include tablet {
    padding-left: 50px;
    background-color: transparent;
    column-gap: 15px;

    & .main-nav__link {
      padding: 21px 0 19px 0;
    }
  }

  @include desktop {
    box-shadow: none;
    padding-left: 15px;
    column-gap: 0;
  }
}

.main-nav__list--main-nav .main-nav__item {
  @include desktop {
    width: 220px;
    padding: 0 20px 0 35px;
    min-height: 88px;

    &:nth-child(odd) {
      box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.main-nav__list--site-nav {
  @include tablet {
    &::before {
      position: absolute;
      content: "";
      width: 200vw;
      right: -100vw;
      height: 100%;
      background-color: $color-white;
      border-bottom: 1px solid #ececec;
      z-index: -1;
    }
  }

  & .main-nav__link:hover {
    & .main-nav__icon-img {
      color: $color-green-basic;
      opacity: 1;
    }

    & .main-nav__link-text {
      opacity: 0.6;
    }
  }

  & .main-nav__link:active {
    opacity: 0.6;
  }

  & .main-nav__item {
    position: relative;
  }

  & .main-nav__icon-img {
    position: absolute;
    left: 31px;
    top: 31px;

    @include tablet {
      top: 35px;
    }
  }
}

.main-nav__list--customer-nav {
  display: none;

  @include desktop {
    padding-left: 15px;
    display: grid;
  }
}

.main-nav__list--customer-nav .main-nav__item {
  @include desktop {
    width: 220px;
    padding: 0 20px 0 35px;

    & .main-nav__link {
      padding: 19px 0 19px 0;
    }
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 $color-gray-lines, inset 0 1px 0 $color-gray-lines;

  @include tablet {
    box-shadow: none;

    .main-nav__list--site-nav & {
      min-height: 88px;
    }
  }
}

.main-nav__item--search {
  @include tablet {
    width: 84px;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.1);

    & .main-nav__link-text {
      display: none;
    }

    & .main-nav__link {
      width: 84px;
      display: flex;
      justify-content: center;
    }
  }
}

.main-nav__item--cart {
  @include tablet {
    & .main-nav__link {
      padding-left: 82px;
      padding-right: 0;
    }
  }
}

.main-nav__link {
  display: flex;
  width: 100%;
  padding: 28px 27px 27px 76px;
  color: $color-black-000;
  font-family: $font-opensans;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;

  @include tablet {
    font-size: 15px;
  }

  &--current {
    pointer-events: none;
  }

  .main-nav__list--main-nav & {
    @include desktop {
      font-size: 17px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__list--customer-nav & {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  & .main-nav__icon-img {
    opacity: 0.2;
  }
}

.main-nav__link-text {
  @include tablet {
    font-size: 17px;
  }
}

.main-nav__delivery {
  color: $color-black-444;
  display: none;
  font-family: $font-opensans;
  font-size: 15px;
  line-height: 24px;

  @include tablet {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }

  @include desktop {
    grid-column: 3/4;
  }
}

.main-nav__delivery-text {
  margin: 0;

  @include tablet {
    padding-top: 21px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/close-menu.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  display: flex;
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__toggle.main-nav__toggle--close {
  right: 31px;
  top: 32px;
  width: 20px;
  height: 14px;
  background-image: url("../img/svg/open-menu.svg");
}
