.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color-white, 0.9);
  z-index: 20;

  &.is-open {
    display: flex;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 30px 46px 30px;
  background-color: $color-white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  width: 100%;
  margin-top: auto;
  margin-bottom: 225px;

  @include tablet {
    width: 566px;
    padding: 38px 93px 46px 93px;
    margin-bottom: 230px;
  }

  @include desktop {
    margin-bottom: 187px;
  }
}

.modal__title {
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  max-width: 148px;
  color: $color-black-000;
  text-transform: uppercase;
  margin: 0 0 14px 0;

  @include tablet {
    font-size: 30px;
    line-height: 57px;
    max-width: 393px;
    margin-bottom: 11px;
  }
}

.modal__subtitle {
  font-family: $font-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  max-width: 162px;
  margin: 0 0 22px 0;
  color: $color-black-444;
  display: block;

  @include tablet {
    font-size: 17px;
    max-width: 179px;
    margin-bottom: 20px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin: 0 0 31px 0;
  padding: 0;
  border: none;
}

.modal__form-control {
  cursor: pointer;
  height: 52px;
  width: 82px;

  @include tablet {
    width: 112px;
  }
}

.modal__form-control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  width: 100%;
  height: 100%;
  padding: 18px 22px 18px 22px;
  text-transform: uppercase;
  border: 2px solid rgba($color-black-444, 0.1);
}

.modal__form-input:checked {
  &+.modal__form-control-mark {
    border-color: $color-green-basic;
  }
}

.modal__form-input:hover {
  &+.modal__form-control-mark {
    border-color: rgba($color-black-444, 0.3);
  }
}

.modal__form-input:active {
  &+.modal__form-control-mark {
    border-color: #62d1ba;
  }
}

.modal__form-input:checked:active {
  &+.modal__form-control-mark {
    border-color: #62d1ba;
  }
}

.modal__button {
  width: 100%;
  background-color: $color-green-basic;
  font-size: 17px;
  line-height: 16px;
  color: $color-white;
  box-shadow: inset 0 0 0 2px $color-green-basic;
  padding: 18px;
}
