.presentation {
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 105px;
  }
}

.presentation__wrapper {
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid $color-gray-lines;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;

  @include tablet {
    position: relative;
    max-width: 100%;
    padding-top: 0;
    border: none;
    align-items: start;
    padding-bottom: 46px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: min-content 1fr;
    padding-bottom: 0;
    align-items: stretch;
  }
}

.presentation__wrapper:hover {
  box-shadow: 0 6px 10px rgba($color-black-000, 0.1);

  @include tablet {
    box-shadow: none;

    & .presentation__text-wrapper::before {
      box-shadow: 0 6px 10px rgba($color-black-000, 0.1);
    }
  }
}

.presentation__title {
  position: relative;
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black-000;
  margin: 0 0 26px 0;
  padding-left: 50px;
  max-width: 182px;

  @include tablet {
    font-size: 20px;
    margin-bottom: 25px;
    padding-left: 105px;
    max-width: 100%;
  }

  @include desktop {
    padding-top: 96px;
    margin-bottom: 28px;
    padding-left: 79px;
    padding-right: 57px;
  }
}

.presentation__title::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  background-image: url("../img/svg/video-camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -5px;
  top: 13px;

  @include tablet {
    top: 0;
    left: 40px;
  }

  @include desktop {
    top: 47px;
    left: 79px;
  }
}

.presentation__video-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  width: 100%;

  @include tablet {
    order: -1;
    margin-bottom: 41px;
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 1/-1;
    margin-bottom: 0;
  }
}

.presentation__video-picture {
  width: 100%;
  display: flex;
}

.presentation__video-image {
  display: flex;
  width: 100%;
  height: 100%;

  @include tablet {
    max-height: 455px;
  }

  @include desktop {
    max-height: 100%;
    object-fit: cover;
  }
}

.presentation__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: linear 0.2s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.presentation__text-wrapper {
  padding-left: 34px;
  padding-right: 30px;
  width: 100%;

  @include tablet {
    padding-left: 41px;
    padding-right: 41px;
  }

  @include desktop {
    padding-left: 79px;
    padding-right: 57px;
    padding-bottom: 40px;
  }
}

.presentation__text-wrapper::before {
  @include tablet {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 455px);
    bottom: 0;
    left: 0;
    border: 1px solid $color-gray-lines;
    pointer-events: none;
  }

  @include desktop {
    height: 100%;
    width: calc(100% - 683px);
    left: unset;
    right: 0;
  }
}

.presentation__subtitle {
  font-family: $font-opensans;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-black-444;
  margin: 0 auto 41px auto;

  @include tablet {
    font-size: 15px;
    line-height: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.presentation__button {
  padding: 19px;
  line-height: 16px;

  @include tablet {
    font-size: 17px;
    padding: 17px;
  }

  @include desktop {
    margin-top: auto;
    padding: 18px;
  }
}
