.top-product {
  position: relative;
  padding-top: 31px;
  padding-bottom: 42px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 69px;
  }

  @include desktop {
    padding-top: 115px;
    padding-bottom: 0;
  }

  &:before {
    @include tablet {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      background-image: url("../img/svg/waves-gray.svg");
      background-repeat: repeat-x;
      bottom: 0;
    }

    @include desktop {
      background-image: none;
    }
  }
}

.top-product .container {
  @include desktop {
    padding-bottom: 90px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 100px);
      height: 17px;
      background-image: url("../img/svg/waves-gray-desktop.svg");
      background-repeat: repeat-x;
      bottom: 0;
    }
  }
}

.top-product__title-wrapper {
  margin-bottom: 17px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 38px;
  }

  @include desktop {
    max-width: 670px;
    margin-left: 32px;
    margin-bottom: 36px;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 43px;
  }
}

.top-product__title {
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 4px 0;
  color: $color-black-000;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    order: 1;
  }
}

.top-product__weeks-product-text {
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-green-basic;
  max-width: 170px;
  text-transform: uppercase;
  display: block;

  @include tablet {
    line-height: 17px;
    max-width: 100px;
    text-align: center;
    margin: 6px 13px 0 0;
  }

  @include desktop {
    margin: 8px 0 0 0;
  }
}

.top-product__info-wrapper {
  @include tablet {
    position: relative;
    max-width: 100%;
    padding-right: calc(100% - 292px);
  }

  @include desktop {
    padding-left: 175px;
    padding-right: calc(100% - 292px - 175px);
  }
}

.top-product__info-text {
  font-family: $font-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-black-444;
  margin: 0 0 27px 0;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 46px;
  }

  @include desktop {
    margin-bottom: 57px;
  }
}

.top-product__details {
  font-family: $font-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-black-444;
  margin: 0 0 28px 0;
  display: grid;
  row-gap: 6px;

  @include tablet {
    margin-bottom: 58px;
  }

  @include desktop {
    row-gap: 4px;
    margin-bottom: 110px;
  }
}

.top-product__details-wrapper {
  display: grid;
  grid-template-columns: 97px 1fr;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-gray-lines;

  @include desktop {
    padding-bottom: 11px;
  }
}

.top-product__details-value {
  margin: 0;
}

.top-product__image {
  display: flex;
  width: 100%;
  object-fit: contain;
  margin-bottom: 26px;

  @include tablet {
    position: absolute;
    width: 334px;
    height: 404px;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }

  @include desktop {
    width: 525px;
    height: 636px;
    z-index: 0;
  }
}

.top-product__price-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-product__price {
  display: block;
  font-family: $font-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black-444;
  margin-bottom: 24px;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;
  }
}

.top-product__button {
  width: 100%;

  @include tablet {
    font-size: 17px;
  }
}
