.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding-right: 20px;
  padding-left: 20px;

  @include tablet {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
  }

  &--form {
    @include tablet {
      padding-right: 67px;
      padding-left: 70px;
    }

    @include desktop {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}
