$font-opensans: "Opensans",
  "Arial",
  sans-serif;
$color-green-basic: #63d1bb;
$color-green-darker: #46c1ae;
$color-gray-back: #f1f1f1;
$color-gray-lines: #ececec;
$color-black-000: #000000;
$color-black-icons: #231f20;
$color-black-444: #444444;
$color-white: #ffffff;
$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1150px;
