$font-oswald: "Oswald", "Arial", sans-serif;
$font-lato: "Lato", "Arial", sans-serif;
$color-green: #68b738;
$color-grey: #f2f2f2;
$color-error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1024px;
